.bg{
    background-image:url(../../../images/herosection.jpg);
    background-repeat:no-repeat;
    background-position: 100% 70%;
    background-size: cover;
    padding:4em;
}
.btnreg{
    background-color: #FA9516;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #23303F;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btnregh:hover{
    background-color: #23303F;
    color: aliceblue;
}