.bg{
    background-image:url(../../../images/herosection.jpg);
    background-repeat:no-repeat;
    background-position: 100% 70%;
    background-size: cover;
    padding:4em;
}
.regbtn:hover{
    text-decoration:underline;
}