
.unorderlist{
    list-style: none;
    line-height: 20px;
    color:white;
}

.paraStyle{
    font-style: italic;
}
.bg{
    background-image: url(../../../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.topHeader{
    text-transform: uppercase;
}
/* .playerWrapper {
    position: relative;
    padding-top: 56.25%; 
  }
  
  .reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
  } */
  