/* .admissionOverviewContainer{
    background-image: url('../../../images/Untitled\ design\ \(10\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */